<!doctype html>
<html lang="en">

<head>
    <%- include('./partials/head', {title:'Dash-Deliry'}) %>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <script>
        const logOut = () => {
            sessionStorage.clear();
            window.location.href= "/"
        };
    </script>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <%- include('./partials/header-dash') %>
            </div>
            <div class="col-sm-10 contentDelete">
                <div class="container mt-4">
                    <div class="row">
                        <span class="col-10 title-user">Lista de Repartidores</span>
                        <div class="col-2 p-1 sidebar-item"><i class="sidebar-icon bi bi-person-circle"></i> <span
                                style="margin-left: 10px;">Emmanuel</span></div>
                    </div>
                    <div class="search-and-add">
                        <!-- Barra de búsqueda -->
                        <div class="search-bar">
                            <div class="input-group">
                                <input type="search" class="form-control rounded-pill alert-dark browse"
                                    aria-label="Buscar usuario" placeholder="Buscar por email"><i class="bi bi-search"></i>
                            </div>
                        </div>
                        <!-- Botón de agregar usuario -->
                        <button class="btn btn-warning add-user-btn" style="color:#fff;" type="button"
                            data-bs-toggle="modal" data-bs-target="#exampleAddUserModal"><i
                                class="bi bi-plus"></i></button>
                    </div>
                </div>
                <div class="modal fade" id="exampleAddUserModal" tabindex="-1"
                    aria-labelledby="exampleEditUserModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title fs-5" id="exampleEditUserModalLabel">Agregar Usuarios</h3>
                                <button type="button" class="btn btn-outline-dark bi-x btn-close-modal"
                                    data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="mb-3">
                                        <label for="nombre" class="col-form-label">Nombre</label>
                                        <input type="text" class="form-control alert-dark rounded nombre" id="nombre">
                                    </div>
                                    <div class="mb-3">
                                        <label for="celular" class="col-form-label">Celular</label>
                                        <input type="text" class="form-control alert-dark rounded celular" id="celular">
                                    </div>
                                    <div class="mb-3">
                                        <label for="cedula" class="col-form-label">Cedula</label>
                                        <input type="text" class="form-control alert-dark rounded cedula" id="cedula">
                                    </div>
                                    <div class="mb-3">
                                        <label for="direccion" class="col-form-label">Direccion</label>
                                        <input type="text" class="form-control alert-dark rounded direccion"
                                            id="direccion">
                                    </div>
                                    <div class="mb-3">
                                        <label for="correo" class="col-form-label">Correo</label>
                                        <input type="text" class="form-control alert-dark rounded correo" id="correo">
                                    </div>
                                    <div class="mb-3">
                                        <label for="contrasena" class="col-form-label">Contraseña</label>
                                        <input type="text" class="form-control alert-dark rounded contrasena"
                                            id="contrasena">
                                    </div>
                                    <div class="mb-3">
                                        <label for="contrasena" class="col-form-label">Id Rol</label>
                                        <input type="text" class="form-control alert-dark rounded rol" id="contrasena">
                                    </div>
                                </form>
                                <div style="text-align: center;">
                                    <button type="button" class="btn btn-warning btn-save">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Editar Usuario -->
                <div class="modal fade" id="exampleEditUserModal" tabindex="-1"
                    aria-labelledby="exampleEditUserModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title fs-5" id="exampleEditUserModalLabel">Editar Usuarios</h3>
                                <button type="button" class="btn btn-outline-dark bi-x btn-close-modal"
                                    data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="mb-3">
                                        <label for="nombreEdit" class="col-form-label">Nombre</label>
                                        <input type="text" class="form-control alert-dark rounded nombreEdit"
                                            id="nombreEdit">
                                    </div>
                                    <div class="mb-3">
                                        <label for="celularEdit" class="col-form-label">Celular</label>
                                        <input type="text" class="form-control alert-dark rounded celularEdit"
                                            id="celularEdit">
                                    </div>
                                    <div class="mb-3">
                                        <label for="cedulaEdit" class="col-form-label">Cedula</label>
                                        <input type="text" class="form-control alert-dark rounded cedulaEdit"
                                            id="cedulaEdit">
                                    </div>
                                    <div class="mb-3">
                                        <label for="direccionEdit" class="col-form-label">Direccion</label>
                                        <input type="text" class="form-control alert-dark rounded direccionEdit"
                                            id="direccionEdit">
                                    </div>
                                    <div class="mb-3">
                                        <label for="correoEdit" class="col-form-label">Correo</label>
                                        <input type="text" class="form-control alert-dark rounded correoEdit"
                                            id="correoEdit">
                                    </div>
                                    <div class="mb-3">
                                        <label for="contrasenaEdit" class="col-form-label">Contraseña</label>
                                        <input type="text" class="form-control alert-dark rounded contrasenaEdit"
                                            id="contrasenaEdit">
                                    </div>
                                    <div class="mb-3">
                                        <label for="rolEdit" class="col-form-label">Rol</label>
                                        <input type="number" class="form-control alert-dark rounded contrasenaEdit"
                                            id="rolEdit">
                                    </div>
                                </form>
                                <div style="text-align: center;">
                                    <button type="button" class="btn btn-warning btn-save-edit"
                                        data-bs-dismiss="modal">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Eliminar Usuario -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header" style="align-self: center;padding-bottom:20px">
                                <h5 class="modal-title fs-5" id="staticBackdropLabel">¿Deseas eliminar a "Esneider"?
                                </h5>
                            </div>
                            <div style="text-align: center;padding-bottom: 20px;">
                                <button type="button" class="btn btn-warning accept" data-bs-dismiss="modal"
                                    style="color:white">Aceptar</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Rechazar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <table class="table table bordered table-striped">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Celular</th>
                                <th scope="col">Cedula</th>
                                <th scope="col">Direccion</th>
                                <th scope="col">Correo</th>
                                <th scope="col">Contrasena </th>
                                <th scope="col">Estado</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% dealers.forEach(dealer=> { %>
                                <tr class="user-list-item" data-id=`<%=dealer.ID_Usuario %>`>
                                    <td class="id">
                                        <%= dealer.ID_Usuario %>
                                    </td>
                                    <td class="nombre">
                                        <%= dealer.Nombre %>
                                    </td>
                                    <td class="celular">
                                        <%= dealer.Celular %>
                                    </td>
                                    <td class="cedula">
                                        <%= dealer.Cedula %>
                                    </td>
                                    <td class="direccion">
                                        <%= dealer.Direccion %>
                                    </td>
                                    <td class="correo">
                                        <%= dealer.Correo%>
                                    </td>
                                    <td class="contrasena">
                                        <%= dealer.Contrasena %>
                                    </td>
                                    <td class="estado">
                                        <%= dealer.EstadoUsuario%>
                                    </td>
                                    <td>
                                        <div class="rounded icon-button">
                                            <button class="btn btn-warning edit-user-btn" type="button"
                                                data-bs-toggle="modal" data-bs-target="#exampleEditUserModal">
                                                <i class="sidebar-icon bi bi-pencil-fill"></i>
                                            </button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="rounded icon-button ms-1 remove">
                                            <button type="button" class="btn btn-danger delete-user-btn"
                                                data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                                <i class="sidebar-icon bi bi-x"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/dealers.js"></script>
    <%- include('./partials/scripts') %>
</body>

</html>